include mixins/mixins
!!! 5
html(lang="en")
  head
  meta(charset="utf-8")
  title= title
  link(rel='stylesheet', href='/stylesheets/reset.css')
  link(rel='stylesheet', href='/stylesheets/style.css')
  link(rel='stylesheet', href='/stylesheets/font-icons.css')
  body
    header
      .wrapper
        h1 MicroBlogMVC&nbsp;
          small - Express 3.3.4
        div Written by&nbsp;
          a(src="#") Steven Illien

    include nav

    section

      each messages, type in FlashBag.all
        each message in messages
          p(class="alert-#{type}") #{message}

      block content


    include templates.html

  //-
    script.
      var app = app || {
        Collections: {},
        Models: {},
        Views: {
          message: {},
          user: {}
        },
        Router: {},
        template: function(id){
          return _.template($('#' + id).html());
        }
      };
    script(src='/javascript/vendor/jquery.min.js')
    script(src='/javascript/vendor/underscore-min.js')
    script(src='/javascript/vendor/backbone-min.js')
    script.
      Backbone.View.prototype.close = function(){
        this.remove();
        this.$el.off(); // remove dom events
        this.unbind(); // remove backbone events
        if (this.onClose){
          this.onClose();
        }
      };


    script(src='/javascript/app/models/user.js')
    script(src='/javascript/app/models/message.js')
    script(src='/javascript/app/collections/users.js')
    script(src='/javascript/app/collections/messages.js')
    script(src='/javascript/app/views/user/list.js')
    script(src='/javascript/app/views/user/show.js')
    script(src='/javascript/app/views/message/list.js')
    script(src='/javascript/app/views/nav.js')
    script(src='/javascript/app/views/section.js')
    script(src='/javascript/app/routers/router.js')
    script(src='/javascript/app/app.js')