- var routePath = req.route.path, _class;
nav
    ul.wrapper

        mixin navli("/", "Messages", "quote-right")
        mixin navli("/user", "Users", "group")
        if (loggedUser)
            mixin navli("/new", "New Message", "pencil")
            mixin fuckupNavli('/user/' + loggedUser.username, loggedUser.username, 'user')
            mixin navli("/sign-out", "Sign Out", null, "connection")
        else
            mixin navli("/sign-up", "Sign Up", null, "connection")
            mixin navli("/sign-in", "Sign In", null, "connection")