extends ../layout

block content
  form(action="/user/#{user.username}", method="POST", enctype="multipart/form-data")
    fieldset
      legend Edit your profile

      label(for="avatar") Avatar
      mixin avatar(user)
      if errors.avatar
        span.error= errors.avatar.msg
      input(type="file", name="avatar", id="avatar")

      mixin textarea('Bio', 'bio', user.bio)
      mixin csrf()
      mixin methodOverride('put')

      input(type="submit", value="Save")
