extends ../layout

block content
    form(method="POST", enctype="multipart/form-data")
        fieldset
            legend Edit your profile

            label(for="avatar") Avatar
            mixin avatar(user)
            input(type="file", name="avatar", id="avatar")

            mixin textarea('Bio', 'bio', user.bio)

            input(type='hidden', name='_csrf', value=csrf_token)
            input(type="hidden", name="_method", value="put")
            input(type="submit", value="Save")
