extends ../layout

block content

    ul#users

        - for user in users
            li
                a(href='/user/#{user.username}')
                    mixin avatar(user)
                    strong= user.username
                    i.icon-chevron-right
                    span= user.bio